.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: rgb(52, 91, 113);
  background: radial-gradient(
    circle,
    rgba(52, 91, 113, 1) 26%,
    rgba(60, 97, 118, 1) 53%
  );
}
